* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

/* header */
header {
  background-color: #3F51B5;
  color: #ffffff;
  box-shadow:
  0 4px 5px 0 rgba(0, 0, 0, 0.14),
  0 2px 9px 1px rgba(0, 0, 0, 0.12),
  0 4px 2px -2px rgba(0, 0, 0, 0.2);
  font-size: 13px;
}

.nav-brand {
  width: 86%;
  font-size: 17px;
  padding: 10px 0 10px 6%;
  font-family: fantasy;
  display: flex;
}
.nav-brand span:first-child:;{
  cursor: pointer;
  width: 30%;
}

.welcome {
  font-size: 10px;
  width: 70%;
  align-self: center;
  text-align: right;
}

.navbar-toggle {
  cursor: pointer;
  width: 14%;
  outline: none;
  margin: auto;
}
.navbar-toggle div {
  margin: auto;
}

.icon-bar {
  background-color: #fff;
  width: 22px;
  height: 2px;
  display: block;
  border-radius: 1px;
  margin: 5px auto 0;
  transition: 0.8s ease-in-out;
}

.icon-bar:first-child {
  margin: 0 auto;
}

.navbar-toggle.open span:nth-child(1){
  transform: translateY(7px) rotate(315deg);
}
.navbar-toggle.open span:nth-child(2){
  transform: translateX(-22px) scale(1,0);
}
.navbar-toggle.open span:nth-child(3){
  transform: translateY(-7px) rotate(-315deg);
}

nav {
  width: 100%;
  display: none;
  text-align:center;
  height: 40px;
  /* annimation-name zoomIn keyframes in modal.css */
  -webkit-animation-name: zoomIn;
  -webkit-animation-duration: 0.5s;
  animation-name: zoomIn;
  animation-duration: 0.5s;
  transition: all 0.5s ease-out;
}
.navbar-open nav {
  display: flex;
}

.navbar-close nav{
  transform: scale(0);
}

nav>ul {
  width: 75%;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list a{
  color: white;
  cursor: pointer;
}

.nav-item {
  width: 33.33%;
  color: white;
}

.nav-user {
  width: 25%;
  align-self: center;
  color: #fff;
  cursor: pointer;
}

#signUp {
  color: #e0c372;
}

/* main */
main {
  margin-top: 15px;
}
main a{
  color: #337ab7;
}
 /* articleList */
.article-list {
  margin: 15px auto;
  padding: 8px 15px;
  border: 1px solid #e4e4e4;
  box-shadow:
  0 4px 5px 0 rgba(0, 0, 0, 0.14);
}

.article-list hr,
.article hr {
  border-top: 1px solid #f7f5f5;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.article-list i {
  color: #337ab7;
}

.article-header {
  margin-top:0;
  margin-bottom: 0;
}
.article-header a{
  cursor: pointer;
}

.article-description {
  padding: 10px;
  color: #a09d9d;
}

.article-info {
  font-size: 70%;
}

.article-info i {
  color: #689eff;
}
  /* archives */
  /* tags */
.tag-section {
  text-align: center;
  padding: 10px 5px 20px;
  border: 1px solid #f3eded;
  margin-bottom: 11%;
}

.tags {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.tags>span {
  margin-top:10px;
  margin-right: 1%;
  font-size: 70%;
  width: 24%;
  padding: 2px 4px;
  text-align: center;
  cursor: pointer;
  box-shadow:
  0 4px 5px 0 rgba(0, 0, 0, 0.14),
  0 2px 9px 1px rgba(0, 0, 0, 0.12),
  0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
  /* article */
.article {
  margin: 15px auto 10%;
  padding: 8px 15px;
  border: 1px solid #e4e4e4;
  box-shadow:
  0 4px 5px 0 rgba(0, 0, 0, 0.14);
}

#article-header {
  text-align: center;
}

#article-info {
  font-size: 12px;
}

#article-time {
  float: right;
}

#article-description {
  color: gray;
  font-size: 12px;
  margin: 10px 0;
}

#article-content {
  background-color: #f9f5f5;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
}

pre {
  overflow: auto;
}

.comment-section textarea{
  width: 100%;
}

.article-comment {
  padding: 5px;
  margin-bottom: 10px;
}

.article-comment-info{
  font-size: 12px;
}

.article-comment-info span:last-child {
  float: right;
}

.nocomment {
  font-size: 12px;
  text-align: center;
}

#commentBtn {
  margin: auto;
  display: block;
  cursor: pointer;
}



/* footer */
footer {
  width: 100%;
  text-align: center;
  border-top: 1px solid #aaa;
  position: fixed;
  bottom: 0;
  background-color: #fff;
}
