.modal {
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  color: black;
  border: 1px solid;
  text-align: center;
}

.modal.modal-open {
  display: block;
}

.modal-content {
  position: relative;
  background-color: #fff;
  width: 80%;
  max-width: 400px;
  margin: 15% auto;
  border-radius: 5px;
  box-shadow: 1px 1px 20px 1px #000;
  -webkit-animation-name: zoomIn;
  -webkit-animation-duration: 0.4s;
  animation-name: zoomIn;
  animation-duration: 0.4s;
}

.modal-header {
  margin: 0;
  padding: 15px;
  font-family: fantasy;
}

.modal hr {
  margin: 0;
}
.modal-header h3 {
  margin: 0;
  color: #fff;
  text-shadow: 0 0 6px #000;
}

.modal-body {
  padding:15px 15px 0;
}

.modal-form-group {
  padding: 0 0 10px;
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.modal-form-group label{
  width: 30%;
  align-self: center;
}
.modal-form-group input{
  width: 70%;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 6px 12px;
  outline: none;
}
.modal-form-group input:focus,
.modal-form-group input:hover {
  box-shadow: 0 0 10px 0 #484848;
}

#logSubmit{
  width: 90%;
  margin-top: 5%;
  background-color: #ffffff;
  color: #000;
  border-radius: 5px;
  border: 1px solid #aaa;
  font-size: 15px;
  outline: none;
}
#logSubmit:hover,
#logSubmit:focus{
  box-shadow: 0 0 10px 0px #000;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}

.modal-footer {
  padding: 15px;
}

.close {
  float:right;
  font-size: 2em;
  color: #aaa;
  line-height: 1;
}

.close:focus,
.close:hover {
  color: #000;
  cursor: pointer;
}

@-webkit-keyframes slideIn {
  from{top: -30%; opacity:0}
  to{top: 0px; opacity: 1}
}

@keyframes slideIn {
  from{top: -30%; opacity:0}
  to{top: 0px; opacity: 1}
}

@-webkit-keyframes zoomIn {
  from{-webkit-transform: scale(0); top: -30% ;  }
  to{-webkit-transform: scale(1); top: 0px; }
}

@@keyframes zoomIn {
  from{transform: scale(0); top: -30%;}
  to{transform: scale(1); top: 0px;}
}
